.icon-add{
    font-size: 25px;
}
.icon-delete{
    font-size: 20px;
}
.button-icon-delete{
    border: none;
    border-radius: none;
    background-color: white;
    color: red;
}
.search label button{
    border: none;
    border-radius: none;
    background-color: white;
}
.button-icon-update{
    color: green;
}

.bin-outline{
    font-size: 20px;
    color: red;
}
.form-group label{
    padding-top: 15px;
}
.summary:focus {
    background-color: #f4f4f4;
    color: #333;
    outline: none;
}
.order-admin button{
    border: 1px black solid;
    border-radius: 0;
    padding: 5px 30px;
    background-color: black;
}
.admin-dropdown{
    border: 1px #1111 solid;
    /* margin: 10px 30px; */
}
.admin-dropdown a{
    padding: 10px 40px;
}


